@charset "UTF-8";

body {
    margin: 0px;
    background-color: #8f4b8d;
}

header {
    font-weight: normal;
    background-color: #1e7387;
    padding: 10px;
    text-align: center;
}

header h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

h1 mark {
    font-family: 'Peristiwa';
    background-color: transparent;
    color: #742ce7;
}

nav {
    text-align: left;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-style: oblique;
}

nav a:hover {
    color: #ffffff;
    background-color: #0fd7ff;
    border-radius: 10px;
}

main {
    background-color: #efb89eb3;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    height: auto; /* MODIFICADO */
    background-image: url(../fundos/anne-marie-1.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

#foto {
    height: 250px;
    width: 200px;
    border-radius: 10px;
}

#margem {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #ffe30dce;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    align-items: center;
}

#margem p {
    line-height: 30px;
    padding: 0px 10px 0px 10px;
}

p>a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

#y:hover, #s:hover, #i:hover {
    border-radius: 10px;
    color: black;
}
#y:hover { background-color: #ff0000; }
#s:hover { background-color: #0ab410; }
#i:hover { background-image: linear-gradient(to right, red, #c20cff); }

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.audio {
    background-color: #c9ac1dd8;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    width: 100%;
    max-width: 400px;
    
}

div img{
    align-items: center;
    width: 100px;
    height: 50px; 
    border-radius: 100px;}

audio {
    width: 100%;
    max-width: 295px;
}

footer {
    color: #1e7387;
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* --- ADICIONADO PARA RESPONSIVIDADE --- */
@media (max-width: 600px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
    }

    #margem {
        flex-direction: column;
        text-align: center;
    }

    .audio {
        height: auto;
    }
}